@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 13px;
}

body {
  font-family: 'Noto Serif SC', 'Outfit', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
  margin: 0;
  background-color: #f0f5fa;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Photography {
    display: flex;
    height: 100vh;
}

.largeImage {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    backdrop-filter: none;
    pointer-events: none;
    transition: all 0.5s;
}

.largeImageOn {
    z-index: 12;
    opacity: 1;
    backdrop-filter: blur(32px);
    pointer-events: all;
}

.largeImageCloseButton {
    float: right;
    position: fixed;
    right: 10vw;
    top: 10vh;
    cursor: pointer;
    z-index: 14;
}

.largeImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 13;
    opacity: 0;
    padding: 12px;
    background-color: #f0f5fa;
    transform: translateY(20vh);
    transition: opacity 0.5s, transform 0.5s cubic-bezier(0.56, 0.01, 0.08, 0.99);
    overflow: hidden;
}

#largeImageLoadingText {
    color: white;
    position: fixed;
    font-size: 1.2rem;
    line-height: 100%;
    text-align: center;
    opacity: 1;
    transition: all 0.5s;
}

.largeImageInside {
    display: block;
    opacity: 0;
    transition: all 0.5s;
}

.largeImageInfoOn {
    filter: blur(16px) opacity(0.4) saturate(1.5);
}

.infoElement {
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.noticeElement {
    opacity: 0;
    transition: all 0.5s;
}

.largeImageLoaded {
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.infoElement:hover > #moreDetailsText {
    opacity: 1 !important;
}

.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #081d30;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
}

.coverOn {
    opacity: 0.75;
    z-index: 11;
}

.logoPage {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    min-width: 33vw;
    box-sizing: border-box;
    height: 100vh;
    z-index: 1;
}

.logoPageLoaded {
    transform: translateX(0rem) !important;
    opacity: 1 !important;
}

.logoImg {
    transform: translateX(10rem);
    opacity: 0;
    position: unset;
    pointer-events: none;
    z-index: 0;
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

.logoPage > h1 {
    margin: 0;
    line-height: 100%;
    font-size: 1.15rem;
}

.subline {
    line-height: 150% !important;
    font-weight: 900;
    color: #335778;
    transform: translateX(10rem);
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99) 0.2s;
}

.englishTitle {
    font-size: 1rem !important;
    font-weight: 500;
}

.mainline {
    font-size: 8rem !important;
    font-weight: 900;
    writing-mode: vertical-rl;
    transform: translateX(10rem);
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99) 0.1s;
}

.mainline > span {
    font-weight: 100;
}

.introPageContainer {
    position: absolute;
    width: 33vw;
    height: calc(100vh - 80px);
    opacity: 0;
    bottom: 0;
    overflow-y: hidden;
}

.introPageContainerLoaded {
    opacity: 1;
    height: 100vh;
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99) 0.8s;
}

.introPage {
    width: 33vw;
    height: 100vh;
    background-color: #33577800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(calc(100% - 80px));
    transition: transform 1s cubic-bezier(0.56, 0.01, 0.08, 0.99), background-color 0.3s 0.7s;
}

.introPageOpened {
    background-color: #335778FF;
    transform: translateY(0);
    transition: transform 1s cubic-bezier(0.56, 0.01, 0.08, 0.99), background-color 0.3s;
}

.introText > p {
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    margin: 0;
}

.introText {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.introLogoImg {
    margin-bottom: 4rem;
    filter: brightness(1000);
    position: unset;
    pointer-events: none;
}

.englishIntro {
    font-size: 1rem !important;
}

.introText a {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
}

.introArrowContainer {
    transform: rotate(0deg); 
    transition: all 0.2s cubic-bezier(0.56, 0.01, 0.08, 0.99) 0.8s;
}

.introArrowContainerOpened {
    transform: rotate(-180deg);
}

.introArrow {
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.56, 0.01, 0.08, 0.99) 0.8s;
}

.photoFlow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 100px;
}

#scrollbar {
    background-color: #b4c2cf;
    position: fixed;
    top: 6vh;
    width: 25rem;
    max-width: 20vw;
    height: 5px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-9vh);
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99)
}

#scrollbarInside {
    background-color: #335778;
    min-width: 6px;
    height: 5px;
}

.scrollbarLoaded {
    transform: translateX(-50%) !important;
    opacity: 1 !important;
}

#dateDisplay {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
    color: #335778;
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%) translateY(9vh);
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

#dateDisplay:hover > .dateArrow {
    opacity: 1 !important;
    cursor: pointer;
    pointer-events: all;
}

#dateDisplayText {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #78848f;
    font-family: "Outfit", sans-serif;
}

#dateDisplayText > b {
    color: #335778;
    font-weight: 800;
}

.dateArrow {
    transform: translateX(0);
    margin: 1rem 1rem;
    opacity: 1;
    cursor: default;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

.dateArrowLeft:hover {
    transform: translateX(-2px);
}

.dateArrowRight:hover {
    transform: translateX(2px);
}

.dateDisplayLoaded {
    transform: translateX(-50%) !important;
    opacity: 1 !important;
}

#mouseReminder {
    position: absolute;
    line-height: 50% !important;
    font-weight: 400;
    font-size: 1rem;
    opacity: 0;
    margin: 0;
    padding-bottom: 78vh;
    padding-left: 5vh;
    color: #335778;
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

#mouseReminderLoaded {
    position: absolute;
    line-height: 50% !important;
    font-weight: 400;
    font-size: 1rem;
    opacity: 1;
    margin: 0;
    padding-bottom: 78vh;
    padding-left: 2vh;
    color: #335778;
    transition: all 1.5s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

#flow1, #flow2 {
    display: flex;
    gap: 2vh;
}

#flow1 {
    margin-bottom: 2vh;
}

.photo {
    opacity: 0;
    margin-left: 100px;
    position: relative;
    transition: all 1s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

.photoLoaded {
    opacity: 1;
    margin-left: 0;
}

.imageInside {
    margin: 0;
    position: absolute;
    z-index: 7;
    transform: translateY(0);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

/* img:hover {
    height: 28vh;
} */

.imageBackground {
    background-color: #335778;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.56, 0.01, 0.08, 0.99);
}

.photo:hover > .imageInside {
    transform: translateY(-0.5vh);
}

.photo:hover > .imageBackground {
    margin-top: 0.5vh;
}

#endPageStarCitizenLogo {
    opacity: 0;
    margin-top: 50px;
}
