.photoFlow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 30px;
}

#flow1, #flow2 {
    display: flex;
    gap: 15px;
}

#flow1 {
    margin-bottom: 15px;
}